@import '~styles/breakpoints';

.flex-grid {
    display: flex;
    @include respond-to('small') {
        display: block;
    }
  }

  .col {
    flex: 1;
  }

  .flex-graphic {
    border-radius: 15px;
    width: 400px;
    @include respond-to('small') {
        width: 100%;
    }
  }