
<h2>Understand your ingredients</h2>
<div class="flex-grid">
  <div class="col">
    <p>Programmatic understanding.</p>
  </div>
  <div class="col"></div>
  <div class="col"><img class="flex-graphic" src="/assets/img/ingredient-translation.png" /></div>
</div>

<h2>Use Cases</h2>
<div class="flex-grid">
  <div class="col">
    <app-feature-card
      imageUrl="/assets/img/search-icon.png"
      imageAlt="Magnifying glass"
      contents="Make your recipes searchable."></app-feature-card>
  </div>
  <div class="col">
    <app-feature-card
      imageUrl="/assets/img/shopping-cart-icon.png"
      imageAlt="Shopping cart"
      contents="Build shopping carts from recipes."></app-feature-card>
  </div>
  <div class="col">
      <app-feature-card
        imageUrl="/assets/img/database-icon.png"
        imageAlt="Database icon"
        contents="Build an ingredient database from your recipes"></app-feature-card>
  </div>
</div>

<h2>Contact Us</h2>
<p><a href="mailto:michael@mtlynch.io">michael@mtlynch.io</a>.</p>