@import '~styles/breakpoints';

.flex-grid {
    display: flex;
    justify-content: space-between;
    @include respond-to('small') {
      display: block;
    }
  }

  .col {
    flex: 1;
    width: 32%;
    @include respond-to('small') {
      width: 100%;
    }
  }

  .flex-graphic {
    border-radius: 15px;
    width: 400px;
    @include respond-to('small') {
      width: 100%;
    }
  }